<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pourtoujours.dao.CCFileContentMapper">
  <resultMap id="BaseResultMap" type="com.pourtoujours.model.CCFileContent">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="fileId" jdbcType="INTEGER" property="fileid" />
    <result column="sortId" jdbcType="INTEGER" property="sortid" />
    <result column="createrId" jdbcType="INTEGER" property="createrid" />
    <result column="createName" jdbcType="VARCHAR" property="createname" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.pourtoujours.model.CCFileContent">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    id, fileId, sortId, createrId, createName, createTime, updateTime
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_file_content
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByByFileId" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_file_content
    where fileId = #{fileId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_file_content
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <select id="getList" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_file_content
    where fileId = #{fileId,jdbcType=INTEGER}
    order by sortId
  </select>
  <insert id="insert" parameterType="com.pourtoujours.model.CCFileContent">
    insert into t_file_content (id, fileId, sortId, 
      createrId, createName, createTime, 
      updateTime, content)
    values (#{id,jdbcType=INTEGER}, #{fileid,jdbcType=INTEGER}, #{sortid,jdbcType=INTEGER}, 
      #{createrid,jdbcType=INTEGER}, #{createname,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{updatetime,jdbcType=TIMESTAMP}, #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pourtoujours.model.CCFileContent">
    insert into t_file_content
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="fileid != null">
        fileId,
      </if>
      <if test="sortid != null">
        sortId,
      </if>
      <if test="createrid != null">
        createrId,
      </if>
      <if test="createname != null">
        createName,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="updatetime != null">
        updateTime,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="fileid != null">
        #{fileid,jdbcType=INTEGER},
      </if>
      <if test="sortid != null">
        #{sortid,jdbcType=INTEGER},
      </if>
      <if test="createrid != null">
        #{createrid,jdbcType=INTEGER},
      </if>
      <if test="createname != null">
        #{createname,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pourtoujours.model.CCFileContent">
    update t_file_content
    <set>
      <if test="fileid != null">
        fileId = #{fileid,jdbcType=INTEGER},
      </if>
      <if test="sortid != null">
        sortId = #{sortid,jdbcType=INTEGER},
      </if>
      <if test="createrid != null">
        createrId = #{createrid,jdbcType=INTEGER},
      </if>
      <if test="createname != null">
        createName = #{createname,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.pourtoujours.model.CCFileContent">
    update t_file_content
    set fileId = #{fileid,jdbcType=INTEGER},
      sortId = #{sortid,jdbcType=INTEGER},
      createrId = #{createrid,jdbcType=INTEGER},
      createName = #{createname,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pourtoujours.model.CCFileContent">
    update t_file_content
    set fileId = #{fileid,jdbcType=INTEGER},
      sortId = #{sortid,jdbcType=INTEGER},
      createrId = #{createrid,jdbcType=INTEGER},
      createName = #{createname,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>