<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pourtoujours.dao.CCFileMapper">
  <resultMap id="BaseResultMap" type="com.pourtoujours.model.CCFile">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="summary" jdbcType="VARCHAR" property="summary" />
    <result column="createrId" jdbcType="INTEGER" property="createrid" />
    <result column="createName" jdbcType="VARCHAR" property="createname" />
    <result column="isPrivate" jdbcType="INTEGER" property="isprivate" />
    <result column="visable" jdbcType="BIGINT" property="visable" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, summary, createrId, createName, isPrivate, visable, remark, createTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_file
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="getList" resultMap="BaseResultMap" >
    select * from t_file where visable = 1 and createrId = #{createrId}
    limit ${startIndex},${amount}
  </select>
  <select id="getAllList" resultMap="BaseResultMap" >
    select * from t_file
  </select>
  <select id="getPublicFileList" resultMap="BaseResultMap" >
    select * from t_file
    where visable = 1 and isPrivate = 0
  </select>
  <select id="getListByUser" resultMap="BaseResultMap" >
    select * from t_file
    where visable = 1 and createrId = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_file
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="del" parameterType="java.lang.Integer">
    update t_file set visable = 2
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pourtoujours.model.CCFile"
          useGeneratedKeys="true" keyProperty="id">
    insert into t_file (id, name, summary, 
      createrId, createName, isPrivate, 
      visable, remark, createTime
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{summary,jdbcType=VARCHAR}, 
      #{createrid,jdbcType=INTEGER}, #{createname,jdbcType=VARCHAR}, #{isprivate,jdbcType=INTEGER}, 
      #{visable,jdbcType=BIGINT}, #{remark,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pourtoujours.model.CCFile">
    insert into t_file
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="summary != null">
        summary,
      </if>
      <if test="createrid != null">
        createrId,
      </if>
      <if test="createname != null">
        createName,
      </if>
      <if test="isprivate != null">
        isPrivate,
      </if>
      <if test="visable != null">
        visable,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="summary != null">
        #{summary,jdbcType=VARCHAR},
      </if>
      <if test="createrid != null">
        #{createrid,jdbcType=INTEGER},
      </if>
      <if test="createname != null">
        #{createname,jdbcType=VARCHAR},
      </if>
      <if test="isprivate != null">
        #{isprivate,jdbcType=INTEGER},
      </if>
      <if test="visable != null">
        #{visable,jdbcType=BIGINT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pourtoujours.model.CCFile">
    update t_file
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="summary != null">
        summary = #{summary,jdbcType=VARCHAR},
      </if>
      <if test="createrid != null">
        createrId = #{createrid,jdbcType=INTEGER},
      </if>
      <if test="createname != null">
        createName = #{createname,jdbcType=VARCHAR},
      </if>
      <if test="isprivate != null">
        isPrivate = #{isprivate,jdbcType=INTEGER},
      </if>
      <if test="visable != null">
        visable = #{visable,jdbcType=BIGINT},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pourtoujours.model.CCFile">
    update t_file
    set name = #{name,jdbcType=VARCHAR},
      summary = #{summary,jdbcType=VARCHAR},
      createrId = #{createrid,jdbcType=INTEGER},
      createName = #{createname,jdbcType=VARCHAR},
      isPrivate = #{isprivate,jdbcType=INTEGER},
      visable = #{visable,jdbcType=BIGINT},
      remark = #{remark,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getShowMeFileList" resultMap="BaseResultMap">
    SELECT *
    FROM t_file
    WHERE id in
    <foreach item="item" index="index" collection="fileIdList"
             open="(" separator="," close=")">
      #{item}
    </foreach>
  </select>
</mapper>