<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pourtoujours.dao.FileAuthMapper">
  <resultMap id="BaseResultMap" type="com.pourtoujours.model.FileAuth">
    <id column="fileId" jdbcType="INTEGER" property="fileid" />
    <id column="userId" jdbcType="INTEGER" property="userid" />
    <result column="ableView" jdbcType="INTEGER" property="ableview" />
    <result column="ableEdit" jdbcType="INTEGER" property="ableedit" />
  </resultMap>
  <sql id="Base_Column_List">
    fileId, userId, ableView, ableEdit
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.pourtoujours.model.FileAuthKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_file_auth
    where fileId = #{fileid,jdbcType=INTEGER}
      and userId = #{userid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.pourtoujours.model.FileAuthKey">
    delete from t_file_auth
    where fileId = #{fileid,jdbcType=INTEGER}
      and userId = #{userid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pourtoujours.model.FileAuth">
    insert into t_file_auth (fileId, userId, ableView, 
      ableEdit)
    values (#{fileid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{ableview,jdbcType=INTEGER}, 
      #{ableedit,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.pourtoujours.model.FileAuth">
    insert into t_file_auth
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fileid != null">
        fileId,
      </if>
      <if test="userid != null">
        userId,
      </if>
      <if test="ableview != null">
        ableView,
      </if>
      <if test="ableedit != null">
        ableEdit,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fileid != null">
        #{fileid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="ableview != null">
        #{ableview,jdbcType=INTEGER},
      </if>
      <if test="ableedit != null">
        #{ableedit,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pourtoujours.model.FileAuth">
    update t_file_auth
    <set>
      <if test="ableview != null">
        ableView = #{ableview,jdbcType=INTEGER},
      </if>
      <if test="ableedit != null">
        ableEdit = #{ableedit,jdbcType=INTEGER},
      </if>
    </set>
    where fileId = #{fileid,jdbcType=INTEGER}
      and userId = #{userid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pourtoujours.model.FileAuth">
    update t_file_auth
    set ableView = #{ableview,jdbcType=INTEGER},
      ableEdit = #{ableedit,jdbcType=INTEGER}
    where fileId = #{fileid,jdbcType=INTEGER}
      and userId = #{userid,jdbcType=INTEGER}
  </update>
  <select id="getListByUser" resultMap="BaseResultMap" >
    select * from t_file_auth where userId = #{userId,jdbcType=INTEGER}
  </select>
</mapper>